:root {
  font: 16px / 1 sans-serif;
}

html {
}

body {
}

.colors-yo {
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium';
  margin-top: 5rem;
  width: 17rem;
  height: 20rem;
  margin-left: 50rem;
  width: 270px;
  box-shadow: 0.2rem 0.2rem 0.2rem;
}

.H {
  margin-top: 15rem;
}

.colorme {
  margin-top: 5rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
}

.sliders {
  margin-left: 55rem;
}

.paintCard {
  display: flex;
  margin-left: 50rem;
  height: 30rem;
  width: 300px;
  background-color: whitesmoke;
  box-shadow: 0.2rem 0.2rem 0.2rem;
}
